.container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vh;
   
  }
  
  .button-container {
    width: 100%;
    height: 100%;
    display: flex;
 
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 6px #1B2A40;
  }
  
  .button {
    width: 100%;
    height: 100%;
  }
  #btnn{
background-color:  #1B2A40;
color: #C7794B;
  font-size: 20px;
  }
#btnnn{
  background-color: #C7794B;
  color: #1B2A40;
  font-size: 20px;
}
  