
.bodyy{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .buttonss button{
    color: #D9D9D9;
    background-color: #1B2A40;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    margin-top: 15px;


} */
.buttons button:hover{
    background-color: #1B2A40;
    color: #D9D9D9;
}
.buttons{
    display: flex;
    
    gap: 15px;
   }
.inputs input{
    width: 250px;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: solid 2px #1B2A40;
    background-color: #D9D9D9;
    color: #051427;
}
.inputs select{
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 50px;
 
    border: solid 2px #1B2A40;
    background-color: #D9D9D9;
}

  label {
   margin-bottom: -5px;
    font-weight: bold;
    color: #1B2A40;
  }
  #title {
    color: #C7794B;;
  }
#dg{
    display: flex;
flex-direction: column;
gap:0px;
  }
