.layout-container {
    display: flex;
    height: 100vh; /* Réglez la hauteur en fonction de vos besoins */
  }
  
  .sidebar-container {
    flex: 0 0 250px; /* Définissez la largeur de la sidebar */
  }
  
  .main-content {
    flex: 1; /* Faites en sorte que le contenu principal prenne tout l'espace restant */
  }