.affaire{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d3d8e3;
   border:#dad6d3 3px solid;

margin-top: 50px;
      border-radius: 15px;
      
        box-shadow: 5px 4px 6px #dad6d3; /* Modifiez les valeurs selon vos besoins */
      
     
}
.affairerh{
  width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d3d8e3;
   border:#dad6d3 3px solid;

margin-top: 50px;
      border-radius: 15px;
      
        box-shadow: 5px 4px 6px #dad6d3; /* Modifiez les valeurs selon vos besoins */
      
     
      
}
.typeAffaire {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); /* Afficher 4 cartes par ligne 
  justify-content: center;
  gap: 25px;
  padding-bottom: 15px; */
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .typeAffaire {
      grid-template-columns: repeat(3, 1fr); /* Passer à 3 cartes par ligne lorsque la largeur de l'écran est inférieure à 1200px */
  }
}

@media (max-width: 800px) {
  .typeAffaire {
      grid-template-columns: repeat(2, 1fr); /* Passer à 2 cartes par ligne lorsque la largeur de l'écran est inférieure à 800px */
  }
}

@media (max-width: 600px) {
  .typeAffaire {
      grid-template-columns: repeat(1, 1fr); /* Passer à 1 carte par ligne lorsque la largeur de l'écran est inférieure à 600px */
  }
}


.groupquatre{
 display: flex;
 justify-content: center;
 gap:45px
}
.groupeTrois{
  display: flex;
 justify-content: center;
 gap:45px
}
.groupeRtrois{
  display: flex;
 justify-content: center;
 gap:75px
}
 .groupeRdeux{
  display: flex;
 justify-content: center;
 gap:75px
}
.ajouteraffair{
    background-color: black;
    color: white;
    font-size: 50px;
    width: 80px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.affaire h3{
  color: #1B2A40;;
    text-align: center;
  font-family: initial;
}
.affaire button{
/* background-color: #1B2A40; */
color: #C7794B;
width: 125px;
height: 42px;
border: #C7794B 1px solid;
background-color: #dbe0e9;
border-radius: 20px;
}
.affaire img{
    width: 70px;
    height: 70px;
}
.affairerh h3{
  color: #1B2A40;;
    text-align: center;
  font-family: initial;
}
.affairerh button{
  color: #C7794B;
  width: 125px;
  height: 42px;
  border: #C7794B 1px solid;
  background-color: #dbe0e9;
  border-radius: 20px;
}
.affairerh img{
    width: 70px;
    height: 70px;
}

.ajouteraffair{
    background-color: black;
    color: white;
    font-size: 50px;
    width: 80px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    margin-left: 90%;

}
.affaire button:hover{
  border: #C7794B 1px solid;
  
}
