/* StatAffaire.css */

/* Container principal */
.stat-container {
      margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
   
  }
  
  /* Titre */
  .stat-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Bouton */
  .stat-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .stat-container button:hover {
    background-color: #0056b3;
  }
  
  /* Canvas */
  .stat-container canvas {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
 /* canvas .block{
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
 }  */